button {
  align-items: center;
  background-color: var(--primary);
  border: none;
  color: var(--text);
  cursor: pointer;
  display: flex;
  font: inherit;
  gap: 0.5rem;
  min-width: 10rem;
  padding: 0.35rem 0.5rem;
  text-align: left;
  transition: all 0.3s ease;
  width: 100%;
}

button:hover,
button:active,
.active {
  background-color: var(--secondary);
}

img {
  object-fit: contain;
  width: 2rem;
}

span {
  font-size: 0.8rem;
  font-weight: 700;
}
