:root {
  --primary: #F5F7F8;
  --secondary: #C9CCD5;
  --tertiary: #C9CCD5;
  --text: #27374D;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: var(--text);
  font-family: "Poppins", sans-serif;
}
